/* Reset styles */
form, body, ul { margin: 0; padding: 0; }
table, tbody, tr, td { table-layout: fixed; margin: 0; padding: 0; vertical-align: top; }
table, tbody, tr { display: block; }
body { color: #333333; font-family: Verdana; font-weight: Normal; font-size: 12px; line-height: 20px; background: #F7F7F8 url("../images/admin.jpg") repeat; }
* { outline: 0; }
::selection { background: rgba(0,0,0,0.1); }
::-moz-selection { background: rgba(0,0,0,0.1); }
a { color: #0088CC; text-decoration: none; }
a:hover { color: #005580; text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Preloading page */
.preload * { transition: all 0s linear; -webkit-transition: all 0s linear; -moz-transition: all 0s linear; -khtml-transition: all 0s linear; -ms-transition: all 0s linear; -o-transition: all 0s linear; }

/* Tabs */
ul.tabs { list-style: none; height: 32px; margin-top: 10px; padding: 0 10px; border-bottom: 1px solid #DDDDDD; }
ul.tabs li { margin: 0; padding: 0; cursor: pointer; }
ul.tabs li.lt { float: left; margin-right: 5px; }
ul.tabs li.rt { float: right; margin-left: 5px; }
ul.tabs li a { text-decoration: none; color: #0088CC; padding: 0 14px; display: block; line-height: 33px; height: 32px; }
ul.tabs li a:hover { background: #EEEEEE; color: #005580; }
ul.tabs li.active a { color: #333333; background: #FFFFFF; border: 1px solid #DDDDDD; border-bottom: 0; line-height: 31px; padding: 0 13px; }
div.tabs-container { float: left; width: 100%; background: #FFFFFF; border-radius: 0 0 4px 4px; }
div.tabs-content { padding: 20px; }

/* Buttons */
.btn { color: #FFFFFF; display: inline-block; padding: 4px 12px; margin: 0; font-size: 14px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid; box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05); text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #66B0EA; background-image: -moz-linear-gradient(top, #72BAED, #54A1E6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#72BAED), to(#54A1E6)); background-image: -webkit-linear-gradient(top, #72BAED, #54A1E6); background-image: -o-linear-gradient(top, #72BAED, #54A1E6); background-image: linear-gradient(to bottom, #72BAED, #54A1E6); background-repeat: repeat-x; border-color: #54A1E6 #54A1E6 #54A1E6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff72BAED', endColorstr='#ff54A1E6', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
.btn-primary:hover { text-decoration: none; background-color: #54A1E6; background-position: 0 -15px; transition: background-position .1s linear; }
.btn-primary:active { background-color: #54A1E6; background-image: none; box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05); }

/* Inputs */
input[type=text], input[type=password], textarea { margin: 0; border: 0; padding: 7px 9px; font-size: 1.3em; font-family: Tahoma, sans-serif; width: 210px; color: #777777; border: solid 1px #CCCCCC; margin-bottom: 10px; box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5); }
textarea { resize: vertical; height: 100px; }
input[type=text]:focus, input[type=password]:focus, textarea:focus, textarea:focus { border: solid 1px #EEA34A; }
label[for="remember"] { position: absolute; margin-left: 5px; margin-top: 1px; }
input[readonly] { background: #EBEBEB; }

/* Container */
.wrapper { width: 1000px; border-bottom: 2px solid #4986E7; background: #FFFFFF; box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; margin: 0 auto; }
.wrapper.login { margin-top: 10%; width: 230px; padding: 10px; }
.wrapper.message { margin-top: 10%; width: 530px; text-align: center; padding: 10px; }
.footer { text-align: center; margin: 20px 0; }
.login-panel { width: 360px; text-align: left; float: left; margin: 20px; }
.links-panel { width: 360px; text-align: right; float: right; margin: 20px; }
.title-panel { margin: auto; text-align: center; line-height: 75px; font-size: 16px; color: rgba(0,0,0,0.6); text-shadow: 2px 2px 3px rgba(255,255,255,0.1); }

/* Content */
.content { margin: 20px; }
.content.config { margin: 0; margin-top: 20px; }
.header { border: 1px solid #D4D4D4; background: #EBEBEB; padding: 6px 24px; border-bottom: 0; color: rgba(0,0,0,0.6); }
.element { border: 1px solid #D4D4D4; padding: 6px 8px; border-bottom: 0; }
.element:hover { background: #F1F1F1; }
.element.last { border-bottom: 1px solid #D4D4D4; }

/* Other */
.clearfix { clear: both; }
.divider { height: 5px; clear: both; margin-bottom: 10px; width: 100%; clear: left; background: url("../images/divider.png") left center repeat-x; }
.divider span { background: url("../images/divider_span.png") center center no-repeat; width: 100%; height: 5px; display: block; }
.left { float: left; }
.right { float: right; }
a.notdecorate { text-decoration: none; color: #333333; }