RewriteEngine On
Options +Indexes
Options +FollowSymLinks

DefaultLanguage ru
AddDefaultCharset windows-1251

ErrorDocument 404 /index.php?action=error404

RewriteRule ^engine/$ index.php?action=noperight [L]
RewriteRule ^engine/([^.]+)/$ index.php?action=noperight [L]
RewriteRule ^themes/$ index.php?action=noperight [L]
RewriteRule ^themes/([^.]+)/$ index.php?action=noperight [L]
RewriteRule ^uploads/$ index.php?action=noperight [L]
RewriteRule ^uploads/([^.]+)/$ index.php?action=noperight [L]

RewriteRule ^registration$ index.php?action=registration [L]
RewriteRule ^account$ index.php?action=account [L]
RewriteRule ^forgotpass$ index.php?action=forgotpass [L]
RewriteRule ^feedback$ index.php?action=feedback [L]
RewriteRule ^statistics$ index.php?action=statistics [L]
RewriteRule ^terms$ index.php?action=terms [L]
RewriteRule ^admin$ index.php?action=admin [L]
RewriteRule ^admin/news$ index.php?action=admin&section=news [L]
RewriteRule ^admin/configure$ index.php?action=admin&section=configure [L]
RewriteRule ^admin/news/add$ index.php?action=admin&section=addnews [L]
RewriteRule ^admin/static$ index.php?action=admin&section=static [L]
RewriteRule ^admin/static/add$ index.php?action=admin&section=addstatic [L]

RewriteRule ^do/([^/]*)$ index.php?action=static&url=$1 [L]
RewriteRule ^logout/([^/]*)$ index.php?action=logout&url=$1 [L]
RewriteRule ^page/([^/]*)$ index.php?page=$1 [L]
RewriteRule ^news/([^/]*)$ index.php?action=news&id=$1 [L]
RewriteRule ^news/([^/]*)/page/([^/]*)$ index.php?action=news&id=$1&page=$2 [L]
RewriteRule ^user/([^/]*)$ index.php?action=viewuser&username=$1 [L]
RewriteRule ^admin/news/delete/([^/]*)$ index.php?action=admin&section=deletenews&id=$1 [L]
RewriteRule ^admin/news/delete/([^/]*)/yes$ index.php?action=admin&section=deletenews&id=$1&delete=yes [L]
RewriteRule ^admin/news/nullify/([^/]*)$ index.php?action=admin&section=nullifynews&id=$1 [L]
RewriteRule ^admin/news/edit/([^/]*)$ index.php?action=admin&section=editnews&id=$1 [L]
RewriteRule ^admin/static/delete/([^/]*)$ index.php?action=admin&section=deletestatic&id=$1 [L]
RewriteRule ^admin/static/delete/([^/]*)/yes$ index.php?action=admin&section=deletestatic&id=$1&delete=yes [L]
RewriteRule ^admin/static/edit/([^/]*)$ index.php?action=admin&section=editstatic&id=$1 [L]
RewriteRule ^admin/comments/delete/([^/]*)$ index.php?action=admin&section=deletecomments&id=$1 [L]
RewriteRule ^admin/comments/delete/([^/]*)/yes$ index.php?action=admin&section=deletecomments&id=$1&delete=yes [L]
RewriteRule ^activation/([^/]*)/([^/]*)$ index.php?action=activation&code=$1&username=$2 [L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ / [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ / [R=301,L]